body{
    color: #333333;
}

.upImages{
    margin-top:10px;
}

.imageTitle{
    margin-left:10px;
}

.imageNote{
    margin-left:10px;
}

.itemTitle{
    margin-left:20px;
    margin-top:-40px;
    border-bottom:groove;
}

.itemBody{
    margin-left:30px;
    margin-top:-30px;
    letter-spacing:0.2em;
}

.itemDate{ 
    float:right;
    margin-right:20px;
    border-top:solid 1px #eee;
}

.itemEdit{
    float:right;
    padding-bottom:30px;
    margin-right:10px;
}

.pre{
    float:left;
    margin-bottom:20px;
}

.next{
    float:right;
    margin-bottom:20px;
}